<br/>
<h2>
{% load static %}
    &nbsp;<img src="{% static 'suricata/images/suricata-logo.png' %}" alt="Suricata logo">
</h2>
<button type="button" class="btn btn-secondary" onclick="window.location.href='/admin/suricata/suricata/add/'">Add new instance
</button>

<br/><br/>
{% if instances.suricata %}
<div class="container-fluid">
    <div class="row">
        <div class="center-block">
            <div class="list-group">
                {% load status %}
                {% for instance in instances.suricata %}
                <a class="list-group-item list-group-item-{{ instance.id|status }} list-group-item-action"
                   href="{% url 'suricata:probe_index' instance.id %}">{{ instance }} - {{ instance.host }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<br/>
